.overview_panel {
  padding: 20px;
  border-radius: 8px;
  box-shadow: var(--box-shadow);
  background-color: var(--background-colo-light);
}

.overview_head {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 30px;
}

.overview_head h1 {
  font-size: 40px;
}

.overview_panel img {
  width: 100%;
  max-width: 500px;
}

.overview_name {
  text-align: center;
  font-size: 32px;
  margin-bottom: 0;
}

.overview_region {
  margin-bottom: 16px;
}

.overview_region,
.overview_subregion {
  text-align: center;
}

.overview_panel .label {
  font-size: 18px;
  color: var(--text-color-secondary);
}

.overview_panel .value {
  font-size: 18px;
  font-weight: 700;
}

.overview_numbers {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  text-align: center;
  margin-top: 20px;
}

.details_panel {
  background-color: var(--background-color-light);
  box-shadow: var(--box-shadow);
  border-radius: 8px;
  margin-top: 20px;
}

.details_panel_row {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  border-bottom: 1px solid #e0e0e0;
}

.details_panel_heading {
  padding: 20px;
  font-size: 24px;
  margin: 0;
}

.details_panel_label {
  color: var(--text-color-secondary);
}

.details_panel_borders_cnt {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 24px;
}

.details_panel_borders_country img {
  width: 100%;
  border-radius: 4px;
}

.details_panel_borders_country {
  text-align: center;
}

.details_panel_borders {
  padding: 20px;
}

.details_panel_border_label {
  padding-bottom: 20px;
  color: var(--text-color-secondary);
}
